<div class="flex flex-col gap-2">
  <app-header></app-header>

  <div class="max-w-full py-8 flex flex-col gap-10">
    <!-- section 1 -->
    <section
      class="flex flex-col px-8 lg:px-24 lg:flex-row justify-between items-center gap-10"
    >
      <div class="flex flex-col gap-6 lg:max-w-1/2">
        <div><p>All in-One life management</p></div>
        <div class="text-5xl lg:text-6xl font-medium">
          <p>Manage your life,</p>
          <p>Achieve your dreams</p>
        </div>
        <p class="text-lg">
          The complete solution for time, tasks, money, and personal growth.
          Everything you need to live your best life, all in one beautiful app.
        </p>
        <div class="flex flex-row gap-2">
          <app-button
            title="Start Free Trial"
            [isBorder]="false"
            routerLink="/auth"
            [queryParams]="{ mode: 'register' }"
          />
          <app-button title="Watch Demo" />
        </div>
        ⭐⭐⭐⭐⭐ Rated 4.9/5 of 1.000+ users
      </div>
      <div class="flex flex-col w-full justify-center">
        <img
          src="setup.jpg"
          class="h-90 lg:h-180 md:h-150 rounded-lg shadow-lg object-cover"
        />
      </div>
    </section>
    <!-- section stats -->
    <section
      class="grid grid-cols-2 lg:grid-cols-4 justify-center gap-10 bg-[#F9F9FA] dark:bg-slate-900/50 p-8 border-y-2 border-[#E0E0E0] dark:border-slate-800 overflow-hidden"
    >
      @for (item of stats; track $index) {
      <div class="flex flex-col items-center gap-2">
        <p class="font-medium text-slate-900 dark:text-slate-100">
          {{item.title}}
        </p>
        <p class="text-slate-600 dark:text-slate-400">{{item.subtitle}}</p>
      </div>
      }
    </section>
    <!-- section feature -->
    <section class="px-8 lg:px-28 flex flex-col gap-6">
      <div class="flex flex-col gap-2 text-center">
        <p class="font-bold text-xl">Everything You Need in One Place</p>
        <p class="text-slate-600 dark:text-slate-400">
          Four powerful modules working together to help you achieve balance and
          success
        </p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 overflow-hidden gap-2">
        @for (item of feature; track $index) {
        <div
          class="flex flex-col items-start gap-4 p-6 rounded-xl bg-white dark:bg-slate-800 shadow-sm hover:shadow-xl transition-all duration-300 border-t-4"
          [class]="item.borderColor"
        >
          <div
            class="p-3 rounded-xl w-fit"
            [class]="item.iconBg + ' ' + item.iconColor"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.icon)"
          ></div>
          <div class="flex flex-col gap-2">
            <p class="font-bold text-md">{{item.title}}</p>
            <p class="text-gray-600 dark:text-gray-400 leading-relaxed text-sm">
              {{item.description}}
            </p>
          </div>
        </div>
        }
      </div>
    </section>
    <!-- section user review -->
    <section class="px-8 lg:px-28 flex flex-col gap-6">
      <div class="flex flex-col gap-2 text-center">
        <p class="font-bold text-xl">Loved by millions</p>
        <p class="text-slate-600 dark:text-slate-400">
          See what our users have to say about transforming their lives
        </p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 overflow-hidden gap-2">
        @for (item of userReview; track $index) {
        <div
          class="flex flex-col gap-2 shadow-sm p-6 rounded-xl border border-[#E0E0E0] dark:border-slate-700 dark:bg-slate-800"
        >
          <p class="font-bold">{{item.name}}</p>
          <p class="text-yellow-500">{{item.rating}}</p>
          <p class="text-sm text-slate-600 dark:text-slate-300">
            {{item.review}}
          </p>
        </div>
        }
      </div>
    </section>
    <!-- section build better life -->
    <section class="px-8 lg:px-28 flex flex-col gap-6">
      <div class="flex flex-col gap-2 text-center">
        <p class="font-bold text-xl">Build a better life</p>
        <p>
          We've combined the best productivity methodologies with cutting-edge
          technology to create the ultimate life management solution.
        </p>
      </div>
    </section>
  </div>
</div>
