<div
  id="sidebar-container"
  class="lg:dark:border-r-2 dark:border-[#292929]"
  [class.lg:w-64]="isExpanded()"
  [class.lg:w-20]="!isExpanded()"
>
  <!-- above content -->
  <div class="hidden lg:flex flex-col gap-6">
    <div
      class="flex flex-row justify-between items-center"
      [class.justify-center]="!isExpanded()"
    >
      @if (isExpanded()) {
      <img
        src="trackmylife-logo.png"
        alt="logo"
        class="w-1/2 hidden lg:block"
      />
      }
      <div
        (click)="toggleSidebar()"
        class="hover:bg-[#E9EBEF] dark:hover:bg-[#292929] p-2 rounded-md shadow-sm cursor-pointer hidden lg:block"
      >
        <app-icon
          name="arrow-left"
          size="16"
          class="transition-transform duration-300 block dark:text-[#717182] dark:hover:text-white"
          [class.rotate-180]="!isExpanded()"
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      @for (item of menuData; track $index) {
      <app-sidebar-item
        [title]="item.title"
        [iconName]="item.icon"
        [route]="item.url"
        [isExpanded]="isExpanded()"
      />
      }
    </div>
  </div>

  <!-- Mobile Menu Items -->
  <div class="flex lg:hidden flex-row w-full justify-around items-center">
    @for (item of menuData; track $index) {
    <app-sidebar-item
      [title]="item.title"
      [iconName]="item.icon"
      [route]="item.url"
      [isExpanded]="true"
    />
    }
  </div>

  <!-- below content -->
  <div class="lg:flex lg:flex-col lg:gap-3 hidden">
    @if (isExpanded()) {
    <p class="text-[14px]">Welcome back</p>
    <p class="font-bold">Benny Septiawan Salim</p>
    <app-button
      title="Log out"
      [fullWidth]="true"
      (click)="logout()"
      [isWarning]="true"
    />

    <div
      (click)="themeService.toggleTheme()"
      class="flex flex-row gap-3 items-center p-2 rounded-md hover:bg-[#E9EBEF] dark:hover:bg-[#292929] cursor-pointer text-[#717182] dark:text-[#717182] hover:text-black dark:hover:text-white transition-colors"
    >
      @if (themeService.isDark()) {
      <app-icon name="sun" size="16" />
      <p class="text-[14px]">Light Mode</p>
      } @else {
      <app-icon name="moon" size="16" />
      <p class="text-[14px]">Dark Mode</p>
      }
    </div>
    }
  </div>
</div>
